APP_NAME=api-example
APP_PORT=8500
APP_READ_TIMEOUT=60
APP_WRITE_TIMEOUT=60
APP_IDLE_TIMEOUT=120

DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=api-example
DATABASE_USERNAME=db-username
DATABASE_PASSWORD=db-password
DATABASE_CONN_MAX_LIFETIME=180
DATABASE_MAX_OPEN_CONN=10
DATABASE_MAX_IDLE_CONN=10

REDIST_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

JWT_SECRET_KEY=jwt-secret-key

KAFKA_BROKER_HOST=127.0.0.1:9092
KAFKA_CONSUMER_GROUP=api-example
KAFKA_AUTO_OFFSET_RESET=latest
KAFKA_TOPIC_USER_REGISTERED=user-registered